%a{:href=>"/"} Home
| 
%a{:href=>"/enclaves/"} Enclaves
| 
= link_to 'Config', '/configvalues'
|
= link_to 'Dashboard', '/dashboard/show'
|
= link_to 'Tools', '/dashboard/tools'
|
= link_to 'Test', '#'

