<h1>Editing Enclave Control</h1>

<%= render 'form2' %>

<%= link_to 'Show', @enclavecontrol %> |
<%= link_to 'Back', "/dashboard/show/#{@enclavecontrol.cybercontrol.controlFamilyCode}/#{@enclavecontrol.cybercontrol.id}/#{@enclavecontrol.id}" %>
<!--%= link_to 'Back', enclavecontrols_path %-->
